<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="EdubookASP.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title><%: Page.Title %></title>
    <%: Styles.Render("~/bundles/styles") %>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" class="navbar-brand">
            <asp:Image runat="server" ImageUrl="~/Images/logo.png" height="40" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/Friend" class="nav-link">Friends</a>
                </li>
                <li class="nav-item">
                    <a href="/Profile" class="nav-link">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        <div class="row mt-2">
            <div class="col-md-4">
                <img src="http://via.placeholder.com/200x200" alt="..." class="img-thumbnail mx-auto d-block">
                <h2>Md. Fahim Shahrier Rasel</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <hr />
                <h4>Friends</h4>
                <div class="row">
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                </div>
            </div>
            <div class="col-md-8 mt-5">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; <%: DateTime.Now.Year %> - Edubook A Social Network for Education</p>
        </footer>
    </div>
    <%: Scripts.Render("~/bundles/scripts") %>
</body>
</html>
