<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="EdubookASP.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title><%: Page.Title %></title>
    <link rel="icon" type="image/ico" href="~/Images/favicon.ico" runat="server"/>
    <%: Styles.Render("~/bundles/styles") %>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-color">
        <a href="~/" runat="server" class="navbar-brand">
            <asp:Image runat="server" ImageUrl="~/Images/logo.png" Height="40" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Account</a>
                        <a class="dropdown-item btn" onclick="window.location.href='/Account/Logout';">Log out</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="~/Search" runat="server" class="nav-link">Search</a>
                </li>
                <li class="nav-item">
                    <a href="~/Friends" runat="server" class="nav-link">Friends</a>
                </li>
                <li class="nav-item">
                    <a href="~/ProfilePage" runat="server" class="nav-link">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid body-content">
        <div class="row mt-2">
            <div class="col-md-3">
                <%--<img src="http://via.placeholder.com/200x200" alt="..." class="img-thumbnail">--%>
                <asp:Image runat="server" ID="UserImage" CssClass="img-thumbnail" ImageUrl="http://via.placeholder.com/200x200" onerror="this.onerror=null; this.src='http://via.placeholder.com/200x200';" />
                <h2>
                    <asp:Label ID="LabelUserName" runat="server" Text="Name"></asp:Label>
                </h2>
                <p>
                    <asp:Label ID="LabelAbout" runat="server" Text="About"></asp:Label>
                </p>
                <hr />
                <h4>Friends</h4>
                <div class="row">
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                    <img class="img-fluid m-1" src="http://via.placeholder.com/64x64" alt="12" />
                </div>
            </div>
            <div class="col-md-9 mt-5 mb-5">
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    <footer class="footer mt-5">
        <div class="container">
            <p>&copy; <%: DateTime.Now.Year %> - Edubook A Social Network for Education</p>
        </div>
    </footer>
    <%: Scripts.Render("~/bundles/scripts") %>
    <asp:ContentPlaceHolder ID="ScriptArea" runat="server">
    </asp:ContentPlaceHolder>
</body>
</html>
